@import "../../../scss/variables.scss";
@import "../../../scss/mixins/mixins.scss";

.categories {
	margin-bottom: 80px;

	.inner {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;

		.item {
			width: 370px;
			margin-bottom: 30px;
			padding: 20px 20px 16px;
			background: $whiteColor;
			border: 1px solid $borderColor;
			border-radius: 3px;
			display: flex;
			justify-content: space-between;
			transition: all 0.3s;
			.info {
				width: 50%;
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				.title {
					font-family: sans-serif;
					font-style: normal;
					font-weight: 700;
					font-size: 23px;
					// color: $mainTextColor;
					transition: all 0.3s;
				}

				.text {
					font-family: "SFProDisplay";
					font-style: normal;
					font-weight: 400;
					font-size: 14px;
					color: $grayColor;
				}
				.text::after {
					content: url("../../../assets/images/back.svg");
					padding-left: 2px;
				}
			}
			.pic {
				width: 50%;
				@include flex-all-center;
				img {
					max-width: 100%;
				}
			}
		}
	}
}

.item:hover {
	box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
}

.item:hover .title {
	color: $focusColor;
}
