.mySwiper {
	position: relative;
	/* padding-top: 50px; */
}
.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	margin: 0 auto;
}

.swiper-button-prev {
	/* position: absolute;
	top: 15px;
	left: 50%;
	transform: translate(-38px);
	cursor: pointer; */
	color: #fff;
}

.swiper-button-next {
	/* position: absolute;
	top: 15px;
	left: 50%;
	transform: translate(12px);
	cursor: pointer; */
	color: #fff;
}

/* custmm bullets style */
.swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	border: 2px solid #fff;
	background-color: transparent;
}

.swiper-pagination-bullet-active {
	background-color: #fff;
}

.swiper {
	width: 100%;
	height: 100%;
}

.swiper-slide {
	text-align: center;
	font-size: 18px;
	background: #fff;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.autoplay-progress {
	position: absolute;
	right: 16px;
	bottom: 16px;
	z-index: 10;
	width: 48px;
	height: 48px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	color: var(--swiper-theme-color);
	display: none;
}

.autoplay-progress svg {
	--progress: 0;
	position: absolute;
	left: 0;
	top: 0px;
	z-index: 10;
	width: 100%;
	height: 100%;
	stroke-width: 4px;
	stroke: var(--swiper-theme-color);
	fill: none;
	stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
	stroke-dasharray: 125.6;
	transform: rotate(-90deg);
}
