@font-face {
	font-family: "SFProDisplay";
	src: url(../assets/fonts/SFProDisplay-Regular.woff2),
		url(../assets/fonts/SFProDisplay-Regular.woff);
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplay";
	src: url(../assets/fonts/SFProDisplay-Medium.woff2),
		url(../assets/fonts/SFProDisplay-Medium.woff);
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplay";
	src: url(../assets/fonts/SFProDisplay-Semibold.woff2),
		url(../assets/fonts/SFProDisplay-Semibold.woff);
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "SFProDisplay";
	src: url(../assets/fonts/SFProDisplay-Bold.woff2),
		url(../assets/fonts/SFProDisplay-Bold.woff);
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Barlow";
	src: url(../assets/fonts/Barlow-Regular.woff2),
		url(../assets/fonts/Barlow-Regular.woff);
	font-weight: 400;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Barlow";
	src: url(../assets/fonts/Barlow-Medium.woff2),
		url(../assets/fonts/Barlow-Medium.woff);
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Barlow";
	src: url(../assets/fonts/Barlow-SemiBold.woff2),
		url(../assets/fonts/Barlow-SemiBold.woff);
	font-weight: 600;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: "Barlow";
	src: url(../assets/fonts/Barlow-Bold.woff2),
		url(../assets/fonts/Barlow-Bold.woff);
	font-weight: 700;
	font-display: swap;
	font-style: normal;
}
